.editor_container {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
  margin-top: 45px;
}
.editor_input__title {
  padding-bottom: 24px;
}

.section_prv {
  background-color: #e5e5e550;
}
