@mixin flex($display, $items, $justify, $directions) {
  display: $display;
  align-items: $items;
  justify-content: $justify;
  flex-direction: $directions;
}

.aside {
  background-color: var(--background);
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  padding: 25px 0px 25px 25px;
  gap: 120px;
  @include flex(flex, flex-start, flex-start, column);
}
.title {
  width: 100%;
  @include flex(flex, center, center, row);
  height: 70px;
}
.content_container {
  list-style: none;
  @include flex(flex, '', '', column);
  gap: var(--flex-gap-base);
  width: 100%;
}

.content_tab {
  @include flex(flex, center, '', '');
  gap: var(--flex-gap-base);
  padding: var(--padding-around-base);
  border-radius: 0.5rem;
  font-size: var(--font-size-base);
  font-weight: bold;
  color: var(--foreground);
}

.content_tab__deactive {
  @extend .content_tab;
  color: #8a8a8a;
}

.content_tab__select {
  background-color: #ead8b1;
  color: var(--background);
}
