:root {
  --background: #fff;
  --foreground: black;
  --font-family-sans: arial, sans-serif;
  --font-size-small: 8px;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --flex-gap-small: 8px;
  --flex-gap-base: 16px;
  --flex-gap-large: 24px;
  --padding-around-small: 8px;
  --padding-around-base: 16px;
  --padding-around-large: 24px;
}
@import 'react-quill/dist/quill.snow.css';
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dee5d4;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0px 25px;
  padding-bottom: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* .inner_container {
  height: calc(100vh - 60px);
  padding-bottom: 25px;
  color: #001f3f;
}
.content_container {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  padding: 20px;
} */
