.ql-toolbar {
  border: none !important;
}
.ql-container {
  border: none !important;
}
.ql-snow {
}
.ql-syntax {
  background-color: rgb(44, 44, 44);
  border-radius: 8px;
  padding: 8px;
  color: white;
}
img {
  width: 100%;
}
.blockquote {
  padding: 20px;
  border-left: 8px solid green !important;
}
