.ql-toolbar {
  border: none !important;
}
.ql-container {
  border: none !important;
}
.ql-syntax {
  background-color: rgb(44, 44, 44);
  /* border-radius: 8px; */
  padding: calc(var(--padding-around-large) + 12px) !important;
  color: white;
  position: relative;
  margin: 0px -36px !important;
  font-size: 18px !important;
}

[class^='language-']::after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  padding: 4px;
  color: black;
  letter-spacing: 1.5px;
}

.ql-syntax .language-css::after {
  content: 'CSS';

  background-color: #264de4;
}

.ql-syntax .language-javascript::after {
  content: 'JAVASCRIPT';
  color: black;
  background-color: #f7df1e;
}

.ql-syntax .language-jsx::after {
  content: 'JSX';
  color: black;
  background-color: #61dafb;
}

img {
  width: 100%;
}

blockquote {
  padding: 25px;
  border-left: 0.25em solid #33a9dc !important;
  background-color: rgba(51, 169, 220, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

ol,
ul {
  padding: 24px;
}
