@mixin flex($items, $justify, $directions) {
  display: flex;
  align-items: $items;
  justify-content: $justify;
  flex-direction: $directions;
}

.header {
  width: 100%;
  background-color: rgb(31, 31, 31);
  @include flex(center, space-between, row);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__nav {
  height: 50px;
  width: 100%;
  max-width: 720px;
  display: flex;
  margin: 0 auto;
  gap: var(--flex-gap-small);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  @include flex(center, flex-start, 'row');
  color: white;
  padding: 0px 16px;
}
