.main_banner__container {
  height: 347px;
  background: linear-gradient(180deg, #007cf0, #00dfd8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
