.quick_link__wrap {
  position: sticky;
  top: 0;
  right: 0;
  padding: 8px;
  border-radius: 8px;
  width: 200px;
  background-color: rgba(63, 63, 63, 0.13);
  backdrop-filter: blur(2px);
  z-index: 3;
  display: none;
}

.displayed {
  display: block;
}

.quick_link__list {
  display: flex;
  flex-direction: column;
  list-style: circle;
}

.H1 {
}
.H2 {
  padding-left: 12px;
}
