.content {
  margin-top: 80px;
  position: relative;
}

.aside_wrap {
  position: absolute;
  left: calc(100% + 16px);
  height: calc(100%);
  width: 100%;
  max-width: 340px;
}

.aside {
  position: sticky;
  top: 70px;
  max-height: 55vh;
  width: 100%;
  overflow-y: auto;
  padding: 10px 10px 10px 32px;

  a {
    display: block;
    color: aliceblue;
    &.main_link {
    }
    &.sub_link {
      padding-left: 10px;
    }
  }
}
